<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Herbal Blends App</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8ea013bdc7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="normalize.css">

</head>

<body>
  <div class="banner">
    <div class="bannerContent">
      <img src="banner.png">
    </div>
  </div>

  <div class="confirmation"> <h1>Thank you for your order!</h1>
  </div>

  <!-- form creates a fetch-->

  <script src="main.js"></script>

</body>

</html>